* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

}
html {
    padding: 0;
    margin: 0;
    font-family: "Lato", monospace;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    margin: 0; height: 100%; overflow: hidden
}

body {
    background-color: #121212;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    margin: 0; height: 100%; overflow: hidden;
}
    
.header{
    width: 100%;
    height: 000px;
    background: #121212 url("img/TRH_WebLogo.png") no-repeat center center;
    position: relative;
}
.logo{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.content {
    width: 100%;
    height: 100%;
    align-content: center;
}
.exterior {
    padding: 0 5%;
    max-height: 100%;
    width: 45%;
}
.exterior img {
    max-width: 100%;
    max-height: 100%;
}

.intro {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 45%;
    padding: 2%;
    text-align: left;
    color: whitesmoke;
}
.logo{
    background: #121212 url("img/TRH_WebLogo.png") no-repeat top center;
    height: 150px;
}
.intro img {
    padding: 5% 0;
}
.intro h2 {
    padding: 5% 0;
}
.intro h3 {
    color: #e1a725;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 10px;
}
.intro h4 {
    color: #e1a725;
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px 0;
}
.intro a {
    color: #e1a725;
    font-size: .85em;
}
.phone{
    padding-left: 5%;
    background: url("img/phone.png") no-repeat center left;
    background-size: contain;
}
.insta{
    padding-left: 5%;
    background: url("img/insta.png") no-repeat center left;
    background-size: contain;
}
.link{
    margin: auto;
    padding: 100px 20px;
    width: 30%;
}
.link h3 {
    padding: 20px;
    background: #e1a725;
    font-size: initial;
    color: #121212;
    text-align: center;

}
.link a{
    color: #121212;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .exterior{
        visibility: hidden;
        width: 0;
    }
    .intro{
        width: 100%;
    }
    .intro img {
        max-width: 90% ;
    }
}
